body {
    
    background-color: #278fa482;
    
}div {outline-style: dotted;}

footer{
    background-color: rgb(220, 220, 220);
}
.header {
      background-color: #ef7474;
  text-align: center;
  padding: 250px;
}
Img{ 
    float : right; 
    
}
